<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/data/jpa
                           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- Load property file -->
    <context:property-placeholder location="classpath:application.properties"/>
    
    <!-- Component scan for service layer -->
    <context:component-scan base-package="com.bnpp.pb.lynx.service"/>
    
    <!-- Data Source Configuration -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
        <property name="url" value="${spring.datasource.url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
    </bean>
    
    <!-- JPA Entity Manager Factory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.bnpp.pb.lynx.model"/>
        <property name="mappingResources">
            <list>
                <value>META-INF/orm.xml</value>
                <value>META-INF/repository-orm.xml</value>
            </list>
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="${spring.jpa.show-sql}"/>
                <property name="generateDdl" value="${spring.jpa.generate-ddl}"/>
                <property name="database" value="POSTGRESQL"/>
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${spring.jpa.properties.hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${spring.jpa.hibernate.ddl-auto}</prop>
                <prop key="hibernate.format_sql">${spring.jpa.properties.hibernate.format_sql}</prop>
            </props>
        </property>
    </bean>
    
    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <!-- Enable transaction management -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <!-- JPA Repository Configuration -->
    <jpa:repositories base-package="com.bnpp.pb.lynx.repository"
                     entity-manager-factory-ref="entityManagerFactory"
                     transaction-manager-ref="transactionManager"/>
    
    <!-- Service Beans -->
    <bean id="studentService" class="com.bnpp.pb.lynx.service.impl.StudentServiceImpl">
        <constructor-arg ref="studentRepository"/>
    </bean>
    
    <bean id="subjectService" class="com.bnpp.pb.lynx.service.impl.SubjectServiceImpl">
        <constructor-arg ref="subjectRepository"/>
    </bean>
    
    <bean id="marksService" class="com.bnpp.pb.lynx.service.impl.MarksServiceImpl">
        <constructor-arg ref="marksRepository"/>
    </bean>
    
    <!-- Data Initializer Bean -->
    <bean id="dataInitializer" class="com.bnpp.pb.lynx.util.DataInitializer" init-method="initialize">
        <constructor-arg ref="subjectService"/>
    </bean>
    
</beans> 